.section_field {
    background-color: transparent;
    width: 100px;
    height: 100%;
    perspective: 1000px;
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}

.section_bar {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.bar_picture .bar_data {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.bar_picture {
    background-color: white;
    border: 2px solid black;
}

.bar_data {
    background-color: white;
    color: black;
    border: 2px solid black;
    transform-origin: left;
    transform: rotateY(180deg) translate(0%, 0px);
    width: 900%;
}

.switcher {
    background-color: gray;
    border: none;
    color: white;
    position: absolute;
    top: 100%;
    left: 20%;
    padding: 20% 30%;
    text-align: center;
    font-size: 30px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

.switcher span {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 4px solid #fff;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) translateX(-70%);
}

.switcher:hover {
    background-color: black;
    color: black;
    cursor: pointer;
    -webkit-animation: 1.5s arrow infinite;
    animation: 1.5s arrow infinite;
}

@-webkit-keyframes arrow {
    0% {
        transform: translate(0px,0px);
    }
    100% {
        transform: translate(0px,10px);
    }
}

@keyframes arrow {
    0% {
        transform: translate(0px,0px);
    }
    100% {
        transform: translate(0px,10px);
    }
}

label {
    font-size: 20px;
}

input[type="text"], input[type="select"], input[type="submit"] {
    height: 30px;
    font-size: 20px;
    width: 150px;
}

/*.percent-count  {
        widht: 450px;
        height: 50px;
        margin: 20px auto;
        font-size: 30px;
        text-align: center;
        color: black;
}

.progress-bar {
        width: 528px;
        height: 30px;
        background-color: #bbb;
        border-radius: 3 px;
        padding: 5px;
        margin: 20px auto;
}

.progress {
        width: 514px;
        height: 10px;
        border-radius: 2 px;
        background-color: dodgerblue;
        margin: 2px;
}
*/

.valid {
        color: green;
        font-color: green;
        font-size: 20 px;
}

.invalid {
        color: red;
        font-color: red;
        font-size: 20 px;
}

.checkValidText:hover::after {
        content: 'Toto není číslo!';
        color: red;
        display: block;
        width: 150px;
        height: 50px;
        float: right;
}

.checkValidNegative:hover::after {
        content: 'Rozměr nemůže být nulový ani záporný!';
        color: red;
        display: block;
        width: 150px;
        height: 50px;
        float: right;
}

.checkValidLong:hover::after {
        content: 'Příliš velké číslo!';
        color: red;
        display: block;
        width: 150px;
        height: 50px;
        float: right;
}

.checkValidShort:hover::after {
        content: 'Příliš malé číslo!';
        color: red;
        display: block;
        width: 150px;
        height: 50px;
        float: right;
}

a.disabledRef {
  pointer-events: none;
  cursor: default;
}

.active {
    border: 2px solid #000000;
    background: #A0A0A0;
}