<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">


    <title>Cross section properties</title>

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>
<body>
<div class = "root bg-dark">
        <div class="container">

            <div class="row" name = "header">

                <p class="h1 text-center">Webová aplikace pro ocelové konstrukce</p>

            </div>

                <div name="navigator" class="sticky-top"> <!-- navigátor scrolluje s pohybem po stránce -->
                    <!-- panel pro navigátor, s kolapsem na "lg" -->
                    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary rounded">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">Navigátor</a>

                            <!-- button pro zobrazení navigator menu po kolapsu při snížení velikosti prohlížeče pod "lg" -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="nav nav-pills">

                                    <!-- dokaz na domovskou stránku -->
                                    <li class="nav-item">
                                        <a class="nav-link text-light" aria-current="page" href="{{url_for('homepage')}}">Domů</a>
                                    </li>

                                    <!-- dropdown select pro stránky o průřezech -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Průřezy ocelových konstrukcí</a>

                                        <ul class="dropdown-menu bg-dark">
                                            <li><a class="dropdown-item disabled text-secondary" href="classification">Klasifikace průřezů</a></li>
                                            <li><a class="dropdown-item text-light" href="{{url_for('section_page.section_page')}}">Výpočet průřezových charekteristik</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="stress">Napětí na průřezu</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item text-light" href="{{url_for('section_page.section_theory')}}">Teorie</a></li>
                                        </ul>
                                    </li>

                                    <!-- dropdown select pro stránky o analýze konstrukcí -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Analýza konstrukcí</a>

                                        <ul class="dropdown-menu bg-dark">
                                            <li><a class="dropdown-item disabled text-secondary" href="ODM">Obecná deformační metoda</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="MESH">Metoda sítí (deskostěny)</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="FEM">Metoda konečných prvků</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="theory">Teorie</a></li>
                                        </ul>
                                    </li>

                                    <!-- dropdown select pro stránky o návrhu konstrukcí -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Posouzení stavebních prvků</a>

                                        <ul class="dropdown-menu bg-dark">
                                            <li><a class="dropdown-item disabled text-secondary" href="ULS">Posouzení na prostou pevnost</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="ULSstabil">Posouzení na ztrátu stability</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="SLS">Posouzení mezních stavů použitelnosti</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="connection">Posouzení spojů</a></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="fire">Posouzení konstrukce na účinky požáru</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item disabled text-secondary" href="theory">Teorie</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


            <div class="row" name="content" id="content">

                <p>Wait for it...</p>

            </div>

        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>




    <script type="text/javascript" src = "static/js/jquery.js"></script>

    <script type="text/javascript" src = "static/js/tooltips.js"></script>
    <script type="text/javascript" src = "static/js/workWithSections.js"></script>
    <script type="text/javascript" src = "static/js/canvasScripts.js"></script>
    <script type="text/javascript" src = "static/js/formInputsValidation.js"></script>
    <script type="text/javascript" src = "static/js/switchInForms.js"></script>
    <script type="text/javascript" src = "static/js/crossSectionObject.js"></script>
    <script type="text/javascript" src = "static/js/mergedObject.js"></script>
    <script type="text/javascript" src = "static/js/canvasObject.js"></script>
    <script type="text/javascript" src = "static/js/newElements.js"></script>
    <script type="text/javascript" src = "static/js/calculateScript.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
<footer>
    <a href="https://www.vecteezy.com/free-vector/steel-beam">Steel Beam Vectors by Vecteezy</a>
</footer>
</html>