{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
    <!-- Main Navigation -->
    <div name="navigator" class="sticky-top"> <!-- navigátor scrolluje s pohybem po stránce -->
        <!-- panel pro navigátor, s kolapsem na "lg" -->
        <nav class="navbar navbar-expand-md navbar-dark bg-secondary rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('homepage') }}">Domů<!-- Navigátor, eventuelně logo --></a>

                <!-- button pro zobrazení navigator menu po kolapsu při snížení velikosti prohlížeče pod "lg" -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarToggler" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto nav-pills">

                        <!-- dokaz na domovskou stránku -->
                        <!--
                        <li class="nav-item">
                            <a class="nav-link text-light" aria-current="page" href="{{ url_for('homepage') }}">Domů</a>
                        </li>
                        -->

                        <!-- dropdown select pro stránky o průřezech -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Nástroje</a>

                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item disabled text-secondary" href="classification">Klasifikace průřezů</a></li>
                                <li><a class="dropdown-item text-light" href="{{url_for('section_page.section_page')}}">Výpočet průřezových charekteristik</a></li>
                                <li><a class="dropdown-item text-light" href="{{url_for('section_page.section_stresses')}}">Napětí na průřezu</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <!-- <li><a class="dropdown-item text-light" href="{{url_for('frame_structure_page.frame_structure_page')}}">Statická analýza</a></li> -->
                                <li><a class="dropdown-item disabled text-secondary" href="javascript: void(0)">Statická analýza</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item disabled text-secondary" href="javascript: void(0)">Teorie</a></li>
                            </ul>
                        </li>

                        <!-- dropdown select pro stránky o analýze konstrukcí -->
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Analýza konstrukcí</a>

                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item disabled text-secondary" href="">Statická analýza</a></li>
                                <! -- <li><a class="dropdown-item text-light" href="{{url_for('frame_structure_page.frame_structure_page')}}">Statická analýza</a></li> -- >
                                <li><a class="dropdown-item disabled text-secondary" href="ODM">Obecná deformační metoda</a></li>
                                <li><a class="dropdown-item disabled text-secondary" href="MESH">Metoda sítí (deskostěny)</a></li>
                                <li><a class="dropdown-item disabled text-secondary" href="FEM">Metoda konečných prvků</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item disabled text-secondary" href="theory">Teorie</a></li>
                            </ul>
                        </li>
                        -->

                        <!-- dropdown select pro stránky o návrhu konstrukcí -->
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Posouzení stavebních prvků</a>

                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item disabled text-secondary" href="ULS">Posouzení na prostou pevnost</a></li>
                                <li><a class="dropdown-item disabled text-secondary" href="ULSstabil">Posouzení na ztrátu stability</a></li>
                                <li><a class="dropdown-item disabled text-secondary" href="SLS">Posouzení mezních stavů použitelnosti</a></li>
                                <li><a class="dropdown-item disabled text-secondary" href="connection">Posouzení spojů</a></li>
                                <li><a class="dropdown-item disabled text-secondary" href="fire">Posouzení konstrukce na účinky požáru</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item disabled text-secondary" href="theory">Teorie</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <input type="hidden" id="stressing_forces" value="0">
    <!-- Area for selected sections -->
    <div id="stressedCrossSections" class="container-fluid padding align-items-start justify-content-flex-start">
        <div id="stressedEnviroment" class="section_field collapse show">
            <div class="card text-white bg-dark xs-10" id="usr">

                <div class="row justify-content-center align-items-center">
                    <!-- <div class="col-6 order-md-2">
                        <img src="static/pictures/svg/usr_section_pic.svg" class="card-img-top img-fluid" width="100%" id="main_form_pic">
                    </div> -->

                    <div class="col-12 col-md-7 order-md-1 mt-3">
                        <div class="form-row justify-content-center headerPart rounded" id="header_part">
                            <div class="form-row justify-content-center headerPart rounded" id="usr_headerPart">
                                <legend>Definice průřezu</legend>
                                <input type="hidden" name="section_info" value="usr" class="form-control">
                            </div>
                        </div>

                        <div class="row text-center ml-2">
                            <div class="col-12 col-sm-4 my-2">
                                <button type="button" id="sectionSave" class="btn btn-secondary" data-toggle="modal" data-target="#sectionManager" onclick="getSavedStressedSections();">Moje průřezy</button>
                            </div>
                            <div class="col-12 col-sm-4 my-2">
                                <button type="button" id="sectionIconsTrigger" class="btn btn-secondary" data-toggle="collapse" data-target="#section_icons" onclick="refreshBigIcons();">Vytvoř průřez</button>
                            </div>
                            <div class="col-12 col-sm-4 my-2">
                                <button type="button" id="stressedRestartButton" onclick="nextSection(this.id);" class="btn btn-secondary">Restart</button>
                            </div>
                        </div>

                        <!-- Section Cards -->
                        <div id="section_icons" class="section_field collapse">
                                <div class="container-fluid padding">
                                    <div class="row collapse show" name="content" id="section_content">

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/IPE_section_pic.svg" id="IPE_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/HEB_section_pic.svg" id="HEB_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/UPE_section_pic.svg" id="UPE_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/L_section_pic.svg" id="L_s_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/T_section_pic.svg" id="T_s_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/RHS_section_pic.svg" id="RHS_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/CHS_section_pic.svg" id="CHS_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/crl_section_pic.svg" id="crl_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/rtg_section_pic.svg" id="rtg_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/cnv_section_pic.svg" id="cnv_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>

                                        <div class="col-6 col-md-4 col-lg-3 text-center">
                                            <div class="card-dark">
                                                <img class="card-img-top crossSectionIconBig" src="static/pictures/svg/mrg_section_pic.svg" id="mrg_bar_switch" data-toggle="modal" data-target="#sectionCreator" onclick="createNewCrossSection(this.id); editCreatorFormular();">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- Section Cards -->

                        <div class="form-row justify-content-center headerPart rounded m-3" id="header_part_forces">
                            <div class="form-row justify-content-center headerPart rounded" id="usr_headerPart_forces">
                                <legend>Vnitřní síly</legend>
                                <input type="hidden" name="forces_values" value="usr" class="form-control">
                            </div>
                        </div>

                        <!-- Internal forces checkboxes -->
                        <div class="row justify-content-center">
                            <div class="col-xs-6">
                                <!-- N -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">N:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="Nxx_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="Nxx_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="Nxx" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Vy -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">Vy:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="Vyy_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="Vyy_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="Vyy" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Vz -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">Vz:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="Vzz_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="Vzz_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="Vzz" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mx -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">Mx:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="Mxx_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="Mxx_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="Mxx" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <!-- My -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">My:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="Myy_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="Myy_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="Myy" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mz -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">Mz:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="Mzz_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="Mzz_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="Mzz" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mu -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">M1:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="M11_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="M11_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="M11" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- Mv -->
                                <div class="form-row justify-content-center align-items-center m-1">
                                    <div class="form-col-3 m-1">
                                        <label class="col-form-label">M2:</label>
                                    </div>

                                    <div class="form-col-3 align-items-center m-1">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" id="M22_checkbox" onclick="defineInternalForces(this.id);">
                                                    <label for="M22_checkbox"></label>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control internalForces" onchange="updateForcesData();" name="M22" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Internal forces checkboxes -->

                        <div class="row justify-content-center">
                            <form method="get" class="input_formular" id="usr_form" onsubmit="ajaxSubmit(event)">
                                <!-- Calculate options -->
                                <div class="form-row align-items-center m-2">
                                    <!-- Rozložit napětí na složky do os (napětí od My podle y a podle z, ...) -->
                                    <input type="checkbox" id="stress_axis" onclick="stressCalculateOption(this.id);">
                                    <label class="col-form-label ml-2" for="stress_axis">Rozložit dílčí napětí do souřadných os</label>
                                    <input type="hidden" name="stress_axis" class="form-control" value="no">
                                </div>

                                <div class="form-row align-items-center m-2">
                                    <!-- Rozdělit napětí na složky podle směrů vnitřních sil (Vy, Vz, My, ...)-->
                                    <input type="checkbox" id="stress_forces" onclick="stressCalculateOption(this.id);" checked>
                                    <label class="col-form-label ml-2" for="stress_forces">Dělit napětí do složek podle vnitřních sil</label>
                                    <input type="hidden" name="stress_forces" class="form-control" value="yes">
                                </div>

                                <div class="form-row align-items-center m-2">
                                    <!-- Celkové sigma, celkové tau -->
                                    <input type="checkbox" id="sigma_tau" onclick="stressCalculateOption(this.id);" checked>
                                    <label class="col-form-label ml-2" for="sigma_tau">Počítat i celková normálová a smyková napětí</label>
                                    <input type="hidden" name="sigma_tau" class="form-control" value="yes">
                                </div>

                                <div class="form-row align-items-center m-2">
                                    <!-- Počítat von Misesovo napětí -->
                                    <input type="checkbox" id="von_mises" onclick="stressCalculateOption(this.id);" checked>
                                    <label class="col-form-label ml-2" for="von_mises">Počítat i von Misesovo napětí</label>
                                    <input type="hidden" name="von_mises" class="form-control" value="yes">
                                </div>
                                <!-- Calculate options -->
                                <input type="submit" id="usr_calculate" value="Výpočet" class="btn-block rounded disabledSubmit" disabled onclick="activeBigIcons(this.id, &quot;&quot;)">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="sectionManager" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="manager-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h3 class="modal-title" id="manager-label">Moje uložené průřezy</h3>
                        </div>

                        <div class="modal-body">
                            <button type="button" class="btn btn-primary" disabled>Získávám průřezy...
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="modal-footer justify-content-center">
                            <div class="row justify-content-around">
                                <div class="col-5">
                                    <input type="button" id="selectSection" name="selectSection" value="Vybrat" onclick="chooseUserSections();" class="btn btn-secondary">
                                </div>

                                <div class="col-5">
                                    <input type="button" id="renameSection" name="renameSection" value="Přejmenovat" onclick="renameUserSections();" class="btn btn-secondary">
                                </div>

                                <div class="col-5">
                                    <input type="button" id="deleteSection" name="deleteSection" value="Smazat" onclick="deleteUserSections();" class="btn btn-secondary">
                                </div>

                                <div class="col-5">
                                    <input type="button" id="cancelSection" name="cancelSection" value="Zavřít" onclick="checkSubmitButton();" class="btn btn-secondary" data-dismiss="modal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="sectionCreator" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-labelledby="creator-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header justify-content-center">
                            <h3 class="modal-title" id="creator-label">Vytvoř nový průřez</h3>
                        </div>

                        <div class="modal-body">


                            <!-- Area for selected sections -->
                            <div id="crossSections" class="container-fluid padding align-items-start justify-content-flex-start">
                                <div id="selected_section_card" class="section_field collapse" style="display: none"></div>
                            </div>
                            <!-- Area for selected sections -->
                        </div>

                        <div class="modal-footer">
                            <div class="row justify-content-around">
                                <div class="col-5">
                                    <input type="button" id="selectCreatorSection" name="selectSection" value="Vybrat" onclick="confirmNewSection();" class="btn btn-secondary" disabled>
                                </div>

                                <div class="col-5">
                                    <input type="button" id="cancelCreatorSection" name="cancelSection" value="Zavřít" onclick="cancelCreator();" class="btn btn-secondary" data-dismiss="modal">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Area for selected sections -->


    <script type="text/javascript" src = "static/js/jquery.js"></script>
    <script type="text/javascript" src = "static/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
     -->
    <script type="text/javascript" src = "static/js/tooltips.js"></script>
    <script type="text/javascript" src = "static/js/workWithSections.js"></script>
    <script type="text/javascript" src = "static/js/canvasScripts.js"></script>
    <script type="text/javascript" src = "static/js/formInputsValidation.js"></script>
    <script type="text/javascript" src = "static/js/switchInForms.js"></script>
    <script type="text/javascript" src = "static/js/crossSectionObject.js"></script>
    <script type="text/javascript" src = "static/js/mergedObject.js"></script>
    <script type="text/javascript" src = "static/js/canvasObject.js"></script>
    <script type="text/javascript" src = "static/js/newElements.js"></script>
    <script type="text/javascript" src = "static/js/calculateScript.js"></script>
    <script type="text/javascript" src = "static/js/sectionManager.js"></script>
    <script type="text/javascript" src = "static/js/pdfCreator.js"></script>
    <script type="text/javascript" src = "static/js/sectionStressesDialog.js"></script>


    <script src="static/js/html2pdf.bundle.js"></script>
{% endblock %}